
<form [formGroup]="myform" (ngSubmit)="crearUsuario()" class="row g-3" style="margin: 1%">
  <h1 align="center">Nuevo Usuario</h1>
  <div class="col-md-6">
    <label for="inputFirstName" class="form-label" >Nombres</label>
    <input formControlName="firstName" type="text" class="form-control" id="inputFirstName" placeholder="Primer Nombre">
  </div>
  <div class="col-md-6">
    <label class="form-label" style="color: #e6fffa">.</label>
    <input formControlName="secondName" type="text" class="form-control" placeholder="Segundo Nombre">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label" >Apellidos</label>
    <input formControlName="firstLastName" type="text" class="form-control" id="inputEmail4" placeholder="Primer Apellido">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label" style="color: #e6fffa">.</label>
    <input formControlName="secondLastName" type="text" class="form-control" id="inputPassword4" placeholder="Segundo Apellido">
  </div>
  <div class="col-10">
    <label for="inputEmail" class="form-label">Email</label>
    <input formControlName="email" type="email" class="form-control" id="inputEmail" placeholder="********@***.****">
  </div>
  <div class="col-md-2">
    <label for="inputAge" class="form-label">Edad</label>
    <input formControlName="age" type="text" class="form-control" id="inputAge" placeholder="##">
  </div>
  <div class="col-md-6">
    <label for="inputUsername" class="form-label" >Usuario</label>
    <input formControlName="username" type="text" class="form-control" id="inputUsername" placeholder="Username">
  </div>
  <div class="col-md-6">
    <label for="inputPassword" class="form-label"> Contraseña</label>
    <input formControlName="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
  </div>
  <div class="col-12" align="center">
    <button type="submit" class="btn btn-primary" (click)="crearUsuario()">Registrar</button>
    <button type="submit" class="btn btn-danger" (click)="closePopup()">Cerrar</button>
  </div>
</form>
