<div class="card" xmlns:style="http://www.w3.org/1999/xhtml">
  <div class="card-header mb-3"  >
    <div class="d-grid gap-2 d-flex">
      <button style="margin-right: 30%; border-color: white; color:white; background: rgb(244,16,16); border-radius: 7px;" (click)="OpenPopup()">
        <i-tabler
          class="routeIcon"
          name="plus"
          matListItemIcon
        ></i-tabler>
      </button>
    </div>
    <h5 align="center" style=" font-size: xxx-large; color: #e6fffa">Usuarios</h5>



  </div>



  <div class="card-body">
    <table class="table table-striped-columns table-bordered">
      <thead>
      <tr>
        <th [style]="rowColor" align="center" scope="col">Username</th>
        <th [style]="rowColor" align="center" scope="col">Nombres</th>
        <th [style]="rowColor" align="center" scope="col">Apellidos</th>
        <th [style]="rowColor" align="center" scope="col">Correo</th>
        <th [style]="rowColor" align="center" scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of listUsers">
        <td>{{user.username}}</td>
        <td>{{user.firstName}} {{user.secondName}}</td>
        <td>{{user.firstLastName}} {{user.secondLastName}}</td>
        <td>{{user.email}}</td>
        <td>
          <button type="button" class="btn btn-primary button-margin" (click)="consultarUsuario(user.id)">
            <i-tabler
              class="routeIcon"
              name="eye-search"
              matListItemIcon
            ></i-tabler>
          </button>
          <button type="button" class="btn btn-warning button-margin" (click)="OpenPopupUpdate()">
            <i-tabler
              class="routeIcon"
              name="edit"
              matListItemIcon
            ></i-tabler>
          </button>
          <button (click)="eliminarUsuario(user.id)" type="button" class="btn btn-danger button-margin">
            <i-tabler
              class="routeIcon"
              name="trash"
              matListItemIcon></i-tabler>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
