<div class="card" xmlns:style="http://www.w3.org/1999/xhtml">
  <div class="card-header mb-2"  >
    <div class="d-grid gap-2 d-flex">
      <button style="margin-right: 30%; border-color: white; color:white; background: rgb(244,16,16); border-radius: 7px;" (click)="openPopup()">
        <i-tabler
          class="routeIcon"
          name="plus"
          matListItemIcon
        ></i-tabler>
      </button>
    </div>
    <h5 align="center" style=" font-size: xxx-large">Usuarios</h5>
    <div class="form-group" style="display: flex; gap: 8px;">
      <input style="width: 200px; margin-right: 60%" type="text" class="form-control" name="filterUser" placeholder="Filtrar..." [(ngModel)]="filterUsers">
      <select style="width: 200px" class="form-select" aria-label="Filtrar por..." [(ngModel)]="selectedFilter">
        <option value="username">Username</option>
        <option value="firstName">Nombres</option>
        <option value="firstLastName">Apellidos</option>
        <option value="email">Correo</option>
      </select>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-striped-columns table-bordered">
      <thead>
      <tr>
        <th [style]="rowColor" align="center" scope="col">Username</th>
        <th [style]="rowColor" align="center" scope="col">Nombres</th>
        <th [style]="rowColor" align="center" scope="col">Apellidos</th>
        <th [style]="rowColor" align="center" scope="col">Correo</th>
        <th [style]="rowColor" align="center" scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of listUsers | filter:selectedFilter: filterUsers">

        <td>{{user.username}}</td>
        <td>{{user.firstName}} {{user.secondName}}</td>
        <td>{{user.firstLastName}} {{user.secondLastName}}</td>
        <td>{{user.email}}</td>
        <td>
          <button type="button" class="btn btn-primary button-margin" (click)="consultarUsuario(user.id)">
            <i-tabler
              class="routeIcon"
              name="eye-search"
              matListItemIcon
            ></i-tabler>
          </button>
          <button type="button" class="btn btn-warning button-margin" (click)="actualizarUsuario(user.id)">
            <i-tabler
              class="routeIcon"
              name="edit"
              matListItemIcon
            ></i-tabler>
          </button>
          <button (click)="eliminarUsuario(user.id)" type="button" class="btn btn-danger button-margin">
            <i-tabler
              class="routeIcon"
              name="trash"
              matListItemIcon></i-tabler>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
