<div class="card">
  <div class="card-header text-bg-primary mb-3" style="align-content: center">
    <h5>Pacientes</h5>

  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Estado</th>
        <th scope="col">Sala</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of listUsers" >
        <td [ngStyle]="{'background-color': changeRowColor(user.estado)}">{{user.id}}</td>
        <td [ngStyle]="{'background-color': changeRowColor(user.estado)}">{{user.nombres}}</td>
        <td [ngStyle]="{'background-color': changeRowColor(user.estado)}">{{user.apellidos}}</td>
        <td [ngStyle]="{'background-color': changeRowColor(user.estado)}">{{user.estado}}</td>
        <td [ngStyle]="{'background-color': changeRowColor(user.estado)}">{{user.sala}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
